@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap");
@import "https://unpkg.com/leaflet@1.9.3/dist/leaflet.css";
@import "https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap";

:root{
  --primary-color:#0A1551;
  --secondary-color:rgb(250, 230, 209);
  --dark-color:#000;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  /* font-family: "Roboto Mono", sans-serif;*/
  font-family: "Manrope", sans-serif; 
}

.header{
  background-color: var(--primary-color);
  padding: 11px;


  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu--food{
  padding: 12px;
}


.logo__title{
  color: #fff;
  font-size: 28px;
      font-weight: 700;

}

.logo__details p{
  color: rgba(66, 35, 7, 0.7)
}


.main{
  max-width: 1500px;
  margin: 20px auto;
  background-color:#fff;
}

.menu__container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 40px;
  padding:12px 30px;
}

.menu{
  width: 370px;
  background-color: #fff;
  border: 1px solid #d3dcef;
  border-radius: 9px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.menu__img img{
  width: 100%;
  height: 220px;
  border-radius: 9px;
  padding: 2px;
}

.menu__title{
  font-size: 30px;
  line-height: 28px;
  font-weight: 700;
  color: var(--primary-color);
  padding:0 30px;
  padding-top: 30px;
}

.menu__details{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.item__name{
  font-weight: 500;
  cursor: text;
  font-size: 19px;
  display: flex;
  align-items: center;
  color: var(--primary-color);
}

.quantity{
  font-weight: 500;
  cursor: text;
  font-size: 19px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 9px;
  color: var(--primary-color);
}

.item__price {
  font-weight: 700;
  cursor: text;
  font-size: 32px;
  display: flex;
  align-items: center;
  color: var(--primary-color);
}

.btn__cart{
  height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5.5px 1em;
    border-radius: 4px;
    cursor: pointer;
    border: 0;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 700;
    font-family: inherit;
    color: #fff;
    background-color: var(--primary-color);
    width: 100%;
    margin: 15px 0;
}

.btn__quantity{
  height: 36px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5.5px 1em;
    border-radius: 4px;
    cursor: pointer;
    border: 0;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 700;
    font-family: inherit;
    color: #fff;
    background-color: var(--primary-color);
}

.table__container{
  max-width: 700px;
  padding:0px 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

table {
  background: var(--primary-color);
  border-radius: 0.25em;
  border-collapse: collapse;
  margin: 1em;
  width: 100%;
}
th {
  border-bottom: 3px solid #fff;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: left;
}
td {
  color: #fff;
  font-weight: 430;
  padding: 0.65em 1em;
  border-bottom: 1px solid #fff;
}

.btn__container{
  padding:0 30px;
}

.btn__cart--one{
  background-color: var(--primary-color);
  height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5.5px 1em;
    border-radius: 4px;
    cursor: pointer;
    border: 0;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 700;
    font-family: inherit;
    color: #fff;
    margin: 15px 0;
    width: 150px;
    /* margin-left: 10px; */
}

.btn__cart--two{
  background-color: var(--primary-color);
  height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5.5px 1em;
    border-radius: 4px;
    cursor: pointer;
    border: 0;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 700;
    font-family: inherit;
    color: #fff;
    margin: 15px 0;
    width: 150px;
    margin-left: 10px;
}

.btn__cancle{
  width: 36px;
  height: 36px;
  background-color: red;
  color: #fff;
  border-radius: 50px;
  border: none;
  font-size: 17px;
  font-weight: bold;
}

tbody tr {
  transition: background 0.25s ease;
}
tbody tr:hover {
  background: #014055;
}

.total{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-top: -20px;
}

.total__head{
  color: var(--primary-color);
  font-weight: 900;
  font-size: 16px;
}

.btn__pay{
  background-color: var(--primary-color);
  height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5.5px 1em;
    border-radius: 4px;
    cursor: pointer;
    border: 0;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 700;
    font-family: inherit;
    color: #fff;
    margin: 15px 0;
    width: 100px;
  
}


@media  only screen and (max-width:700px) {

  .menu__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }
  
  .item__price{
    font-size: 28px;
  } 

  .menu{
    width: 300px;
  }
  
  .menu__img img{
  
    height: 180px;
  }

  .btn__quantity {
    height: 30px;
  }
}


@media  only screen and (max-width:670px) {

  .item__price{
    font-size: 24px;
  } 

  .menu{
    width: 270px;
  }
  
  .menu__img img{
  
    height: 180px;
  }

  .btn__quantity {
    height: 26px;
  }
}


@media  only screen and (max-width:610px) {

  .item__name {
    font-size: 16px;
  }
  .quantity p{
    font-size: 16px;
  }

  .item__price{
    font-size: 22px;
  } 

  .menu{
    width: 240px;
  }
  
  .menu__img img{
  
    height: 180px;
  }

  .btn__quantity {
    height: 24px;
  }
  .quantity{
    gap: 3px;
  }
}


@media  only screen and (max-width:540px) {
  .quantity{
    gap: 0px;
  }

  .item__name {
    font-size: 13px;
  }
  .quantity p{
    font-size: 13px;
  }

  .item__price{
    font-size: 19px;
  } 

  .menu{
    width: 210px;
  }
  
  .menu__img img{
  
    height: 180px;
  }

  .btn__quantity {
    height: 20px;
  }
  .logo__title {
    font-size: 25px;
  }
}


@media  only screen and (max-width:500px) {
  .logo__title {
    font-size: 21px;
  }
  .menu__container{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .quantity{
    gap: 9px;
  }

  .item__name {
    font-size: 19px;
  }
  .quantity p{
    font-size: 19px;
  }

  .item__price{
    font-size: 32px;
  } 

  .menu{
    width: 370px;
  }
  
  .menu__img img{
  
    height: 220px;
  }

  .btn__quantity {
    height: 30px;
  }

  .btn__container{
    display: flex;
    justify-content: space-around;
  }
  .logo{
    width: 80px;
  }
}


@media  only screen and (max-width:420px) {
 th{
  font-size: 15px;
 }
 td{
  font-size: 13px;
 }
 .btn__cancle{
  height: 31px;
  width: 31px;
 }
 .logo{
  width: 65px;
 }
}


@media  only screen and (max-width:390px) {
  .menu{
    width: 340px;
  }
  .logo__title {
    font-size: 18px;
  }
  th{
    font-size: 14px;
   }
   td{
    font-size: 13px;
   }
}

@media only screen and (max-width:370px) {
  .btn__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .btn__cart--one{
      font-size: 15px;
      /* width: 100px; */
  }
  .btn__cart--two{
    font-size: 15px;
    /* width: 100px; */
}
}

@media  only screen and (max-width:360px) {
  .menu{
    width: 310px;
  }
  
  .menu__img img{
  
    height: 210px;
  }

  th{
    font-size: 13px;
   }
   td{
    font-size: 13px;
   }
}



@media  only screen and (max-width:340px) {
  .menu{
    width: 280px;
  }
  
  .menu__img img{
  
    height: 210px;
  }
  th{
    font-size: 12px;
   }
   td{
    font-size: 12px;
   }
}